<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add </title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body>
    <div id="wrapper">
        <div id="container">
            <div id="header"></div>
            <div id="content">
                <div class="xlg_col" style="text-align: center;">
                    <h1 style="color: red;">DANGER!</h1>
                    <p>This message does not belong to you. Are you trying to hack?</p>
                    <br>
                    <br>
                    <h2 >Your IP Addresss: {{ip}} has been recorded</h2>
                    <br>
                    <br>
                    <p>Next time you attempt to an activity like this we will log you off and report your IP to the admin.</p>

                </div>
            </div>
        </div>
    </div>
</body>

</html>